<template>
    <div>
      <h1>CART</h1>
        <div v-for="(item, index) in cartItems" :key="index">
          <p>Product Name: {{ item.productName }}</p>
          <p>Price: {{ item.price }}</p>
          <p>Quantity: {{ item.quantity }}</p>
          <!-- Add more fields as needed -->
        </div>
      </div>
  </template>
  
  <script>
  import axios from 'axios';
  
  export default {
    data() {
      return {
        cartItems: []
      };
    },
    created() {
      this.fetchCartData();
    },
    methods: {
      getAuthHeader() {
        const token = localStorage.getItem("token");
        return token ? { Authorization: `Bearer ${token}` } : {};
      },
      async fetchCartData() {
        try {
          const headers = this.getAuthHeader();
          const response = await axios.get('/cart', { headers });
          this.cartItems = response.data;
        } catch (error) {
          console.error('Failed to fetch cart data:', error.response || error.message);
          // Handle error fetching cart data
        }
      },
    }
  };
  </script>
  
  <style scoped>
  h1 {
    text-align: center;
  }
  </style>
  