<template>
  <div>
    <h1>Grade</h1>
    <div class="d-flex justify-md-center">
      <v-flex xs4>
        <v-text-field
          class="lable"
          v-model="score"
          label="Please Enter Your Score"
          prepend-icon="caret-right"
          id="score"
        ></v-text-field>
      </v-flex>
    </div>

    <v-btn color="success" @click="submit()">submit</v-btn>
  </div>
</template>
  
  <script>
  import Swal from 'sweetalert2';
  
export default {
  data() {
    return {
      score: "",
    };
  },
  methods: {
//     Swal.fire({
//   title: "Good job!",
//   text: "You clicked the button!",
//   icon: "success"
  
// });
    submit() {
      if (this.score >= 80 && this.score <= 100) {
        Swal.fire(this.score + " Your Grade = A");
      } else if (this.score >= 70 && this.score <= 79) {
        Swal.fire(this.score + " Your Grade = B");
      } else if (this.score >= 60 && this.score <= 69) {
        Swal.fire(this.score + " Your Grade = C");
      } else if (this.score >= 50 && this.score <= 59) {
        Swal.fire(this.score + " Your Grade = D");
      } else if (this.score >= 0 && this.score <= 49) {
        Swal.fire(this.score + " Your Grade = F")
      } else {
        Swal.fire("Error");
      }
      
    },
  },
};

</script>

<!-- <script src="https://cdn.jsdelivr.net/npm/sweetSwal.fire2@11"></script> -->
  <style>
div {
  text-align: center;
}

</style>