<template>
    <div class="login-container">
      <h2>Login</h2>
      <form @submit.prevent="handleLogin">
        <div class="form-group">
          <label for="username">Username:</label>
          <input type="text" v-model="username" id="username" required />
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" v-model="password" id="password" required />
        </div>
        <button type="submit">Login</button>
      </form>
    </div>
  </template>
  
  <script>
  import axios from 'axios';
  
  export default {
    data() {
      return {
        username: '',
        password: ''
      };
    },
    methods: {
      async handleLogin() {
        try {
          const response = await axios.post('http://localhost:3000/api/v1/login', {
            username: this.username,
            password: this.password
          });
  
          if (response.data.success) {
          console.log('Login successful');
          console.log('Token:', response.data.token);
          // Store the token, for example in localStorage
          localStorage.setItem('token', response.data.token);
          // Redirect to ProductDetail
          // console.log(data.username);
          this.$router.push({ name: 'productdetail' });
        } else {
          console.error('Login failed:', response.data.message);
          alert('Login failed: ' + response.data.message);
        }
      } catch (error) {
        console.error('An error occurred during login:', error);
        alert('An error occurred. Please try again.');
      }
      }
    }
  };
  </script>

<!-- <script>
import axios from "axios";

export default {
  data() {
    return {
      username: "",
      password: "",
    };
  },
  methods: {
    async handleLogin() {
      try {
        const response = await axios.post(
          "http://localhost:3000/api/v1/login",
          {
            username: this.username,
            password: this.password,
            role : this.role
          }
        );

        if (response.data.success) {
          if (response.data.role === "admin") {
            // สำหรับผู้ใช้ที่มี role เป็น admin
            console.log("Admin login successful");
            // Redirect to AdminDashboard
            this.$router.push({ name: "admindashboard" });
          } else if (response.data.role === "user") {
            // สำหรับผู้ใช้ที่มี role เป็น user
            console.log("User login successful");
            // Redirect to ProductDetail
            this.$router.push({ name: "productdetail" });
          } else {
            // สำหรับ role อื่น ๆ ที่ต้องการจัดการเพิ่มเติม
            console.error("Unknown role:", response.data.role);
            alert("Unknown role. Please contact support.");
          }
        } else {
          console.error("Login failed:", response.data.message);
          alert("Login failed: " + response.data.message);
        }
      } catch (error) {
        console.error("An error occurred during login:", error);
        alert("An error occurred. Please try again.");
      }
    },
  },
};
</script> -->
  
  <style scoped>
  .login-container {
    max-width: 300px;
    margin: 0 auto;
    padding: 1em;
    background: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
    margin-bottom: 1em;
  }
  
  .form-group {
    margin-bottom: 1em;
  }
  
  label {
    display: block;
    margin-bottom: 0.5em;
  }
  
  input {
    width: 100%;
    padding: 0.5em;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  button {
    width: 100%;
    padding: 0.75em;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  </style>
  