<template>
  <div>
    <h1>Product Details</h1>
    <div>
      <v-btn color="success" @click="newItem()">New Item</v-btn>
    </div>
    <v-row>
      <v-col cols="4" v-for="(item, index) in apidata" :key="index">
        <v-card width="350">
          <v-img src="../assets/cat.jpeg"></v-img>
          <!-- {{ item.image }} -->
          <v-card-title primary-title>
            <p>ชื่อสินค้า :{{ item.productName }}</p>
          </v-card-title>
          <v-card-text>
            <p>ราคา :{{ item.price }}</p>
            <p>จำนวน :{{ item.amount }}</p>
          </v-card-text>
          <v-card-actions>
            <v-btn text color="info" @click="editItem(item)">Edit</v-btn>
            <v-btn color="error" @click="deleteItem(item._id)">Delete</v-btn>
            <v-btn text color="info" @click="buyItem(item)"
              ><span class="btn-action">buy</span></v-btn
            >
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
    <v-dialog v-model="dialogEdit" max-width="500px">
      <v-card>
        <v-card-title primary-title>Add Product</v-card-title>
        <v-card-text>
          <v-row>
            <v-col cols="12">
              <v-text-field
                label="productname"
                v-model="postdata.productName"
              ></v-text-field>
              <v-text-field
                label="price"
                v-model="postdata.price"
              ></v-text-field>
              <v-text-field
                label="amount"
                v-model="postdata.amount"
              ></v-text-field>
              <!-- <v-text-field
                label="Image URL"
                v-model="postdata.imageURL"
              ></v-text-field> -->
            </v-col>
          </v-row>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn text color="error" @click="closeDialog()">Cancel</v-btn>
          <v-btn text color="info" @click="saveData()">Save</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="dialogBuy" max-width="500px">
      <v-card>
        <v-card-title>Add to Cart</v-card-title>
        <v-card-text>
          <v-row>
            <v-col cols="12">
              <v-text-field
                label="Quantity"
                type="number"
                v-model="postdata.quantity"
              ></v-text-field>
            </v-col>
          </v-row>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn text color="error" @click="closeDialog()">Cancel</v-btn>
          <v-btn text color="info" @click="addToCart()">Add to Cart</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import axios from "../axios.js";

export default {
  data() {
    return {
      id: "",
      apidata: [],
      dialogEdit: false,
      dialogBuy: false, // เพิ่ม dialogBuy
      postdata: {
        productName: "",
        price: "",
        amount: "",
        // imageURL: "", // Add imageURL to receive the URL of the image
      },
    };
  },
  created() {
    this.getData();
  },
  methods: {
    getAuthHeader() {
      const token = localStorage.getItem("token");
      return token ? { Authorization: `Bearer ${token}` } : {};
    },
    async getData() {
      try {
        const response = await axios.get("/products", {
          headers: this.getAuthHeader(),
        });
        this.apidata = response.data;
      } catch (error) {
        console.error("Failed to fetch data:", error.response || error.message);
        alert("Failed to fetch data");
      }
    },
    newItem() {
      this.id = "";
      this.postdata = {
        productName: "",
        price: "",
        amount: "",
        // imageURL: "",
      };
      this.dialogEdit = true;
    },
    buyItem(item) {
      this.id = item._id;
      // this.postdata = { ...item };
      this.dialogBuy = true; // เปิด dialogBuy เมื่อคลิกที่ปุ่ม "buy"
    },
    editItem(item) {
      this.id = item._id;
      this.postdata = { ...item };
      this.dialogEdit = true;
    },
    closeDialog() {
      this.id = "";
      this.dialogEdit = false;
    },

    async addToCart() {
      try {
        if (this.postdata.quantity <= 0 || isNaN(this.postdata.quantity)) {
          alert("Please enter a valid quantity.");
          return;
        }

        // เพิ่มข้อมูลสินค้าเข้าตะกร้า
        await axios.post(
          "/products/cart",
          {
            productId: this.id,
            quantity: this.postdata.quantity,
            userId: this.userId, // เพิ่ม userId ที่ต้องการส่งไป
          },
          {
            headers: {
              "Content-Type": "application/json",
              ...this.getAuthHeader(),
            },
          }
        );

        alert("Product added to cart");
        this.closeDialog();
      } catch (error) {
        console.error(
          "Failed to add product to cart:",
          error.response || error.message
        );
        alert("Failed to add product to cart");
      }
    },

    async saveData() {
      if (this.id) {
        this.updateData();
      } else {
        this.createData();
      }
    },

    async createData() {
      try {
        await axios.post("/products", this.postdata, {
          headers: this.getAuthHeader(),
        });
        alert("Creation complete");
        this.getData();
        this.closeDialog();
      } catch (error) {
        console.error(
          "Failed to create data:",
          error.response || error.message
        );
        alert("Failed to create data");
      }
    },
    async updateData() {
      try {
        await axios.put(`/products/${this.id}`, this.postdata, {
          headers: this.getAuthHeader(),
        });
        alert("Update complete");
        this.getData();
        this.closeDialog();
      } catch (error) {
        console.error(
          "Failed to update product:",
          error.response || error.message
        );
        alert("Failed to update product");
      }
    },
    async deleteItem(id) {
      try {
        if (confirm("Delete this item?")) {
          await axios.delete(`/products/${id}`, {
            headers: this.getAuthHeader(),
          });
          alert("Deletion complete");
          this.getData();
        }
      } catch (error) {
        console.error(
          "Failed to delete data:",
          error.response || error.message
        );
        alert("Failed to delete data");
      }
    },
    // async cart(id) {
    //   try {
    //     if (confirm("Delete this item?")) {
    //       await axios.delete(`/products/cart${id}`, {
    //         headers: this.getAuthHeader(),
    //       });
    //       alert("Deletion complete");
    //       this.getData();
    //     }
    //   } catch (error) {
    //     console.error(
    //       "Failed to delete data:",
    //       error.response || error.message
    //     );
    //     alert("Failed to delete data");
    //   }
    // },
  },
};
</script>


<style >
.btn-action {
  margin-left: 130px;
}
h1 {
  text-align: center; /* จัดข้อความให้อยู่ตรงกลาง */
}
</style>
