<template>
  <v-app>
    <v-app-bar app class="custom-toolbar" dark>
      <!-- Custom toolbar color -->
      <v-spacer></v-spacer>

      <!-- Cart Icon -->
      <v-btn icon @click="redirectToCart">
        <v-icon>mdi-cart</v-icon>
      </v-btn>

      <!-- User Display -->
      <v-menu offset-y :close-on-content-click="false">
        <template v-slot:activator="{ on, attrs }">
          <v-btn text v-bind="attrs" v-on="on">
            <v-icon left>mdi-account</v-icon>
            {{ username }}
            <!-- Display the username here -->
          </v-btn>
        </template>
        <v-list>
          <v-list-item @click="logout">
            <v-list-item-title>Logout</v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>
    </v-app-bar>

    <v-main>
      <router-view />
    </v-main>
  </v-app>
</template>

<script>
import jwtDecode from "jwt-decode";

export default {
  data() {
    return {
      username: "", // Variable to hold the username
    };
  },
  created() {
    this.getUsernameFromToken(); // Fetch the username when the component is created
  },
  methods: {
    getUsernameFromToken() {
      const token = localStorage.getItem("authToken"); // Adjust this to where your token is stored
      if (token) {
        const decodedToken = jwtDecode(token);
        this.username = decodedToken.username; // Adjust this to the actual key in your token
      }
    },
    redirectToCart() {
      this.$router.push("/cart");
    },
    logout() {
      localStorage.removeItem("authToken"); // Adjust this to your logout logic
      this.$router.push("/login"); // Adjust this to your login route
    },
  },
};
</script>

<style>
.custom-toolbar {
  background-color: #4caf50; /* Custom color */
}
</style>
